body {
  background-image: url('https://cdn4.vectorstock.com/i/1000x1000/76/93/cute-white-hearts-on-pink-background-seamless-vector-29567693.jpg');
color: #FFFFFF;
}
a {
color: #C2ADFA;
}
h1 {
font-family: Arial;
text-align: center;

}
h4 {
  font-family: Arial;
  text-align: center;

}
p {
  font-family: Arial;
  font-size: 50px;


}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: #C2ADFA;
  width: 550px;
  height:500px;
  margin: auto;
